@font-face {
  font-family: "Minecraft";
  src: url(font.woff);
}

body {
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

pre {
  font-family: "Minecraft";
  font-size: 12px;
}

button {
  background-color: none;
  font-family: Minecraft;
  padding: 10px;
  border: 2px solid red;
}

button:hover {
  background-color: yellow;
}

.info {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: normal;
  font-family: "Minecraft";
}

.win {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Minecraft";
  font-size: 100px;
  text-align: center;
  line-height: normal;
  vertical-align: sub;
}

.mobileControls {
  z-index: 5;
  position: absolute;
}

#mobileBack {
  right: 0;
}
